<%= link_to pigeon_path(pigeon) do %>
  <div class="container pigeon-card">
    <% pigeon.id %>
    <div>
      <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:35, width:35, style:"border-radius: 100px;") %>
      <p class="mt-2 mb-0">@<%= pigeon.user.nickname %></p>
      <p><%= pigeon.date.strftime("%-d %B %Y") %></p>
        <!-- <%= pigeon.date.strftime("%H:%M") %> -->
    </div>
      <h6 class="mt-3"><%= pigeon.title %></h6>
      <div class="d-flex justify-content-end w-100">
        <% if pigeon.media_type == "video" %>
          <i class="fa-brands fa-youtube play-icon-chat"></i>
        <% elsif pigeon.media_type == "article" %>
          <i class="fa-regular fa-newspaper article-icon-chat"></i>
        <% elsif pigeon.media_type == "book" %>
          <i class="fa-solid fa-book book-icon-chat"></i>
        <% elsif pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
          <i class="fa-solid fa-headphones music-icon-chat"></i>
        <% end %>
      </div>
      <p><%= pigeon.length %></p>
  </div>
<% end %>
