<div class="container" data-controller="refresh">
  <div class="search my-3">
    <%= form_with url: pigeons_path, method: :get, data: { refresh_target: "form" } do %>
      <div class="input-group my-4" style="position: relative;" >
        <%= text_field_tag :query,
              params[:query],
              class: "searchbar noSelect",
              size:10,
              placeholder: "Type a keyword",
              data: {
                refresh_target: "input",
                action: "keyup->refresh#update"
              }%>
            <div class="input-group-append">
              <button type="submit" class="btn-search btn-dark">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
      </div>
      <div class="d-flex">
      <div class="row">
        <div class="d-flex justify-content-center scrolling-wrapper" style="background-color:black!important;">
          <% @alltags.each do |tag| %>
            <input type="checkbox" id="<%= tag %>" data-refresh-target="checkbox" data-action="change->refresh#add" name="q[tags_name_cont_any][]" value="<%= tag %>" class="checkboxaspill tag-selector" <%= params.dig(:q, :tags_name_cont_any)&.include?(tag) ? 'checked' : '' %>>
            <label for="<%= tag %>" class="tag-button"><%= tag %></label>
          <% end %>
        </div>
        <div class="d-flex justify-content-center scrolling-wrapper" style="background-color:black!important; margin-top: 0!important; margin-bottom: 0.5rem!important;">
          <% @mediatypes.each do |mt| %>
            <input type="checkbox" id="<%= mt %>"  data-action="change->refresh#media" name="q[media_type][]" value="<%= mt %>" class="checkboxaspill media-type-selector" <%= params.dig(:q, :media_type)&.include?(mt) ? 'checked' : '' %>>
            <label for="<%= mt %>" class="media-type-button"><%= mt %></label>
          <% end %>
        </div>
      </div>
      <% end %>
      </div>
      <div class="clearbtn d-flex justify-content-center mt-3">
        <%= link_to "Clear selection", pigeons_path, data: { turbo_method: :get }, class:"clear" %>
      </div>
  </div>

  <div class="pigeons-container" data-refresh-target="list" >
    <%= render "pigeons/list" %>
  </div>
</div>
