
<div class="container">
  <h1>All your pigeons here</h1>

  <% @pigeons.each do |pigeon| %>
    <p>--------------------</p>
    <%= pigeon.title %>
    <p>sent by <%= pigeon.message.sender.nickname %> on <%= pigeon.date() %></p>
      <% @tags = pigeon.tag_names %>
      <ul>
        <% @tags.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
      <% if pigeon.read? %>
        <p>Status: read</p>
      <% else %>
        <p>Status: unread</p>
      <% end %>
      <% if pigeon.favourite? %>
        <p>Added to favourites</p>
      <% else %>
        <p>Add to favourites</p>
      <% end %>
    <p>Media type:
      <% if pigeon.media_type == "video" %>
        <i class="fa-brands fa-youtube"></i></p>
      <% elsif pigeon.media_type == "article" %>
        <i class="fa-regular fa-newspaper"></i></p>
      <% elsif pigeon.media_type == "book" %>
        <i class="fa-solid fa-book"></i></p>
      <% elsif pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
      <i class="fa-solid fa-headphones"></i></p>
      <% end %>
    <p>This pigeon is <%= pigeon.length %> words long</p>
    <p>Summary (powered by AI)</p>
    <%= pigeon.summary %>
  <% end %>
</div>
