<div data-controller="search-users" class="container mt-4">
  <%= simple_form_for [@pigeon], data: {search_users_target: "form"} do |f| %>
    <%= f.input :link_to_content, type: :string%>
    <%= f.input :title, type: :string %>
    <%= f.input :description, type: :string, label: 'Write your message here' %>
    <%= f.input :media_type, collection: ["article", "book", "movie", "playlist", "podcast", "song", "video", "other"] %>
    <%= f.input :media_type, collection: ["article", "book", "movie", "playlist", "podcast", "song", "video", "other"] %>
    <%#= f.input :tags, collection: @alltags %>
    <%= f.submit "Send Pigeon", class: "btn btn-primary", style: "background-color: black" %>
    <% end %>
    <%#= f.text_field :query,
                     class: "form-control",
                     placeholder: "Send to",
                     value: params[:query],
                     data: {search_users_target: "input"} %>
</div>
