
<div class="form-container" >
  <%= simple_form_for [@pigeon],  data: {search_users_target: "form"} do |f| %>
    <div class="form-inputs">
      <%= f.input :recipient, placeholder:
                      "Type a nickname or email...", collection: User.all, label_method: :nickname,
                      input_html: {data: {controller: "search-users"}}%>

      <%= f.input :link_to_content, type: :string %>
      <%= f.input :title, type: :string %>
      <%= f.input :description, type: :string, label: 'Write your message here' %>
      <%= f.input :media_type, collection: ["article", "book", "movie", "playlist", "podcast", "song", "video", "other"] %>
      <%= f.collection_check_boxes :content_categories, @content_categories, :id, :name, label: "Select category" %>
        <div id="custom-tags">
          <%= f.fields_for :new_content_categories do |new_category_fields| %>
            <%= new_category_fields.text_field :name, placeholder: 'New Category Name' %>
          <% end %>
        </div>
    <%= f.submit "Send Pigeon", class: "submit"%>
    <% end %>
</div>
