
<div class="container mt-4" >
  <%= simple_form_for [@pigeon],  data: {search_users_target: "form"} do |f| %>
    <%= f.input :recipient, class: "form-control", placeholder:
                     "Type a nickname or email...", collection: User.all, label_method: :nickname,
                    input_html: {data: {controller: "search-users"}}%>

    <%= f.input :link_to_content, type: :string%>
    <%= f.input :title, type: :string %>
    <%= f.input :description, type: :string, label: 'Write your message here' %>
    <%= f.input :media_type, collection: ["article", "book", "movie", "playlist", "podcast", "song", "video", "other"] %>
    <%#= f.input :tags, collection: @alltags %>
    <%= f.submit "Send Pigeon", class: "btn btn-primary", style: "background-color: black" %>
    <% end %>
</div>
