<div class="container">
  <%= @pigeon.id %>
  <div class="card-detail">
    <h2 class="mt-4">Pigeon Details</h2>
    <div class="title-play">
      <p class="mt-4">Title: <%= @pigeon.title %></p>

      <%= link_to @pigeon.link_to_content, target: "_blank", class: "link-play" do %>
        <i class="fa fa-play icon-play" aria-hidden="true"></i>
      <% end %>
    </div>

    <p>Description: <%= @pigeon.description %></p>
    <% if @pigeon.chat.sender == current_user %>
      <% @sender = @pigeon.chat.recipient %>
    <% else %>
      <% @sender = @pigeon.chat.sender %>
    <% end %>
    <p>Sent on <%= @pigeon.date.strftime("%a, %-d %B %Y") %> at <%= @pigeon.date.strftime("%H:%M") %> by <%= @sender.nickname %></p>

    <p>
      <% if @pigeon.media_type == "video" %>
        <i class="fa-brands fa-youtube"></i>
      <% elsif @pigeon.media_type == "article" %>
        <i class="fa-regular fa-newspaper"></i>
      <% elsif @pigeon.media_type == "book" || @pigeon.media_type == "podcast" || @pigeon.media_type == "audio" || @pigeon.media_type == "song" || @pigeon.media_type == "playlist" %>
        <i class="fa-solid fa-headphones"></i>
      <% end %>
    </p>
    <p>Summary by AI: <%= @pigeon.summary %></p>
    <% time_to_read = TimeToReadService.new(@pigeon.link_to_content).call %>
    <p>
      <% if time_to_read <= 1 %>
        This pigeon will take <%= time_to_read %> minute to look at.
      <% else %>
        This pigeon will take <%= time_to_read %> minutes to look at.
      <% end %>
    </p>
    <% if @pigeon.media_type == "video" %>
      <p>Length: <%= @pigeon.length %></p>
    <% end %>
    <% if @pigeon.favourite? %>
      <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
        <p><i class="fa-solid fa-heart"></i></p>
      <% end %>
      <div class="heart-container">
        <% if @pigeon.favourite? %>
          <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
            <i class="fa-solid fa-heart heart"></i>
          <% end %>
        <% else %>
          <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
            <i class="fa-regular fa-heart heart"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
  <p class="mt-5 mb-5">Category:
    <% @tags = @pigeon.tag_names %>
    <% @tags.each do |tag| %>
      <%= tag %>
    <% end %>
  </p>
  <%= link_to "Browse all pigeons", pigeons_path %>

  <div class="chatWindow">
    <div class="scroll-message" id="messages" data-controller="chat-scroll">
      <% @pigeon.chat.messages.each do |message| %>
        <%= render 'messages/message', message: message, scroll: message.content == @pigeon.description %>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [@chat, @message], html: { class: "d-flex pt-3" } do |f| %>
    <%= f.input :content, as: :string, label: false, placeholder: "Drop a few lines", wrapper_html: { class: "flex-grow-1" } %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
  <% if @pigeon.read %>
    <p>Status: read</p>
    <%= link_to "Mark as unread", toggle_read_path(@pigeon), data: { turbo_method: :patch } %>
  <% else %>
    <p>Status: unread</p>
    <%= link_to "Mark as read", toggle_read_path(@pigeon), data: { turbo_method: :patch } %>
  <% end %>
  <% unless @pigeon.reply_later %>
    <%= link_to "Reply Later", add_to_reply_path(@pigeon), data: { turbo_method: :patch } %>
  <% end %>

  <%= link_to "Back to Pigeons", pigeons_path %>
  <%= link_to "Browse all pigeons", pigeons_path %><br>
  <%= link_to "Delete", pigeon_path(@pigeon), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
