<div class="container page-details">
  <div class="card-detail">

    <div style="border-radius: 50px; height: 100px; width: 100px; overflow: hidden; background: gray;">
      <% if @pigeon.user.avatar.attached? %>
        <%= cl_image_tag @pigeon.user.avatar.key, height: 100, width:100, crop: :fill %>
        <% else %>
        <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:100, width:100) %>
      <% end %>
    </div>

    <p class="mt-4"><%= @pigeon.title %></p>
      <% if @pigeon.chat.sender == current_user %>
        <% @sender = @pigeon.chat.recipient %>
      <% else %>
        <% @sender = @pigeon.chat.sender %>
      <% end %>

    <%= link_to(chat_path(@pigeon.chat)) do %>
    <div class="message-card-received text-dark">

      <%= @pigeon.description %>
    </div>
    <% end %>

    <p>Sent on <%= @pigeon.date.strftime("%a, %-d %B %Y") %> at <%= @pigeon.date.strftime("%H:%M") %> by <%= @sender.nickname %></p>


    <div class="category">
      <% @tags = @pigeon.tag_names %>
      <% @tags.each do |tag| %>
        <button class="tag-button"><%= tag %></button>
      <% end %>
    </div>

    <div class="summary">
      <% if @pigeon.media_type == "article" || @pigeon.media_type == "book" %>
      <p class="summary-title">Summary by AI: </p>
      <p><%= @pigeon.summary %></p>
      <% time_to_read = TimeToReadService.new(@pigeon.link_to_content).call %>
      <p>
        <% if time_to_read <= 1 %>
          This pigeon will take <%= time_to_read %> minute to read.
        <% else %>
          This pigeon will take <%= time_to_read %> minutes to read.
        <% end %>
      </p>
      <% end %>
    </div>

    <i class='fa fa-hourglass-start sand-clock' style="color:#BBC800;"></i>

    <div class="mt-5 card-icons">
      <%= link_to @pigeon.link_to_content, target: "_blank", class: "icon-play" do %>
        <% if @pigeon.media_type == "video" %>
        <i class="fa-brands fa-youtube play-icon"></i>
      <% elsif @pigeon.media_type == "article" %>
        <i class="fa-regular fa-newspaper article-icon"></i></p>
      <% elsif @pigeon.media_type == "book" %>
        <i class="fa-solid fa-book book-icon"></i></p>
      <% elsif @pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
        <i class="fa-solid fa-headphones music-icon"></i>
      <% end %>
      <% end %>
      <%= link_to pigeon_path(@pigeon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa fa-times delete-cross"></i>
      <% end %>
      <% if @pigeon.favourite? %>
        <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-heart heart" style="color: #4C19B9;"></i>
        <% end %>
      <% else %>
        <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-heart heart" style="color: #BBC800;"></i>
        <% end %>
      <% end %>
      <%= link_to pigeons_path do %>
        <i class="fa-solid fa-arrow-left back-icon"></i>
      <% end %>
      <% unless @pigeon.reply_later %>
        <%= link_to add_to_reply_path(@pigeon), data: { turbo_method: :patch } do %>
        <i class="fa-regular fa-clock reply-icon"></i>
        <% end %>
      <% end %>
    </div>

    <% if (@pigeon.media_type == "video" || @pigeon.media_type == "music") && @pigeon.link_to_content.include?("youtu") %>
      <p>
        <% if @pigeon.length <= 1 %>
        Length: This pigeon will take <%= @pigeon.length %> minute to listen to.
        <% else %>
          Length: This pigeon will take <%= @pigeon.length %> minutes to listen to.
        <% end %>
      </p>
      <% end %>
  </div>



    <% if @pigeon.read %>
      <%= link_to "Mark as unread", toggle_read_path(@pigeon), data: { turbo_method: :patch }  %>
    <% end %>

    <!-- <%= link_to "Browse all pigeons", pigeons_path %><br> -->

  </div>
</div>
