<div class="container page-details">
  <div class="card-detail">

    <%= link_to(chat_path(@pigeon.chat)) do %>
      <div style="border-radius: 50px; height: 100px; width: 100px; overflow: hidden; background: gray;">
        <% if @pigeon.user.avatar.attached? %>
          <%= cl_image_tag @pigeon.user.avatar.key, height: 100, width:100, crop: :fill %>
          <% else %>
          <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:100, width:100) %>
        <% end %>
      </div>

      <% if @pigeon.chat.sender == current_user %>
        <% @sender = @pigeon.chat.recipient %>
      <% else %>
        <% @sender = @pigeon.chat.sender %>
      <% end %>
          <p>@<%= @sender.nickname %></p>
      <% end %>

    <p><%= @pigeon.date.strftime("%a, %-d %B %Y") %> at <%= @pigeon.date.strftime("%H:%M") %></p>

    <h2 class="mt-4"><%= @pigeon.title %></h2>

    <div class="message-card-received text-dark">

      <%= @pigeon.description %>
    </div>

    <div class="category">
      <% @tags = @pigeon.tag_names %>
      <% @tags.each do |tag| %>
        <button class="tag-button"><%= tag %></button>
      <% end %>
    </div>

    <% if @pigeon.media_type == "article" || @pigeon.media_type == "book" %>
      <div class="summary">
        <p class="summary-title">Summary by AI: </p>
        <p><%= truncate(strip_tags(@pigeon.summary.gsub(/https?:\/\/\S+/, '')), length: 250) %></p>
      </div>
    <% end %>


  <div>
  <% if @pigeon.media_type == "video" || (@pigeon.media_type == "music" && @pigeon.link_to_content.include?("youtu")) %>
    <i class='fa fa-hourglass-start sand-clock mt-3' style="color:#BBC800;"></i>
    <p>
      <% if @pigeon.length.present? && @pigeon.length <= 1 %>
        <%= @pigeon.length %> minute to listen to.
      <% elsif @pigeon.length.present? %>
        <%= @pigeon.length %> minutes to listen to.
      <% end %>
    </p>
  <% end %>
</div>


    <div>
      <% if @pigeon.media_type == "article" || @pigeon.media_type == "book" %>
      <i class='fa fa-hourglass-start sand-clock mt-3' style="color:#BBC800;"></i>
      <% time_to_read = TimeToReadService.new(@pigeon.link_to_content).call %>
      <p>
        <% if time_to_read <= 1 %>
          <%= time_to_read %> minute to read
        <% else %>
          <%= time_to_read %> minutes to read
        <% end %>
      </p>
      <% end %>
    </div>

    <div class="d-flex justify-content-between">
        <%= link_to @pigeon.link_to_content, target: "_blank", class: "icon-play" do %>
      <button class="link-button">
          <% if @pigeon.media_type == "video" %>
          <i class="fa-brands fa-youtube play-icon"></i>
        <% elsif @pigeon.media_type == "article" %>
          <i class="fa-regular fa-newspaper article-icon"></i>
        <% elsif @pigeon.media_type == "book" %>
          <i class="fa-solid fa-book book-icon"></i>
        <% elsif @pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
          <i class="fa-solid fa-headphones music-icon"></i>
        <% end %>
        <div class="ms-2">Go to link</div>
      </button>
        <% end %>

        <%= link_to (chat_path(@pigeon.chat)) do %>
      <button class="reply-chat p-3">
          <i class="fa-solid fa-paper-plane send-icon"></i>
        <div class="ms-2">Reply in chat</div>
      </button>
          <% end %>
    </div>

    <div class="mt-5 card-icons">
      <% if @pigeon.reply_later? %>
        <%= link_to add_to_reply_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-clock reply-icon" style="color: #4c19b9;"></i>
        <% end %>
      <% else %>
        <%= link_to add_to_reply_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-regular fa-clock reply-icon"></i>
        <% end %>
      <% end %>
      <% if @pigeon.favourite? %>
        <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-heart heart" style="color: #4C19B9;"></i>
        <% end %>
      <% else %>
        <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
          <i class="fa-solid fa-heart heart" style="color: #BBC800;"></i>
        <% end %>
      <% end %>
      <% if @pigeon.read %>
        <%= link_to toggle_read_path(@pigeon), data: { turbo_method: :patch }  do %>
          <i class="fa-solid fa-book unread-icon"></i>
        <% end %>
      <% end %>
      <%= link_to pigeon_path(@pigeon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa fa-times delete-cross"></i>
      <% end %>
    </div>
  </div>
    <!-- <%= link_to "Browse all pigeons", pigeons_path %><br> -->
  </div>
</div>
