<div class="container">
  <% @pigeon.id %>
  <h2 class="mt-4">Pigeon Details</h2>
    <p class="mt-4">Title: <%= @pigeon.title %></p>
    <p>Description: <%= @pigeon.description %></p>
    <p>Date: <%= @pigeon.date %></p>
    <p>Media type: <%= @pigeon.media_type %></p>
    <p>Summary: <%= @pigeon.summary %></p>
    <p>Length: <%= @pigeon.length %></p>
    <%= link_to "Link", @pigeon.link_to_content, target: "_blank" %>
</div>
