<div class="container">
  <% @pigeon.id %>
  <h2 class="mt-4">Pigeon Details</h2>
    <p class="mt-4">Title: <%= @pigeon.title %></p>
    <p>Description: <%= @pigeon.description %></p>
    <p>Date: <%= @pigeon.date.strftime("%a, %-d %B %Y") %> at <%= @pigeon.date.strftime("%H:%M") %></p>
    <p>Media type:
      <% if @pigeon.media_type == "video" %>
        <i class="fa-brands fa-youtube"></i></p>
      <% elsif @pigeon.media_type == "article" %>
        <i class="fa-regular fa-newspaper"></i></p>
      <% elsif @pigeon.media_type == "book" %>
        <i class="fa-solid fa-book"></i></p>
      <% elsif @pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
        <i class="fa-solid fa-headphones"></i></p>
      <% end %>
    <p>Summary by AI: <%= @pigeon.summary %></p>
    <p>Length: <%= @pigeon.length %></p>
    <p>This pigeon will take <%=  TimeToReadService.new(@pigeon.link_to_content).call %> minutes to look at.</p>
    <%= link_to "Link", @pigeon.link_to_content, target: "_blank" %><br>
    <% if @pigeon.read %>
      <%= link_to "Mark as unread", unmark_read_path(@pigeon), data: { turbo_method: :patch }  %>
    <% end %>
    <%= link_to "Back to Pigeons", pigeons_path %>
    <%= link_to "Browse all pigeons", pigeons_path %>
</div>
