<div class="container">
  <% @pigeon.id %>
  <h2 class="mt-4">Pigeon Details</h2>
    <p class="mt-4">Title: <%= @pigeon.title %></p>
    <p>Description: <%= @pigeon.description %></p>
    <p>Date: <%= @pigeon.date.strftime("%a, %-d %B %Y") %> at <%= @pigeon.date.strftime("%H:%M") %></p>
    <p>Media type:
      <% if @pigeon.media_type == "video" %>
        <i class="fa-brands fa-youtube"></i></p>
      <% elsif @pigeon.media_type == "article" %>
        <i class="fa-regular fa-newspaper"></i></p>
      <% elsif @pigeon.media_type == "book" %>
        <i class="fa-solid fa-book"></i></p>
      <% elsif @pigeon.media_type == "podcast" || "audio" || "song" || "playlist"%>
        <i class="fa-solid fa-headphones"></i></p>
      <% end %>
    <p>Summary by AI: <%= @pigeon.summary %></p>
    <% if TimeToReadService.new(@pigeon.link_to_content).call <= 1 %>
    <p>This pigeon will take <%=  TimeToReadService.new(@pigeon.link_to_content).call %> minute to look at.</p>
    <% else %>
    <p>This pigeon will take <%=  TimeToReadService.new(@pigeon.link_to_content).call %> minutes to look at.</p>
    <% end %>
    <% if @pigeon.media_type == "video" %>
    <p>Length: <%= @pigeon.length %></p>
    <% if @pigeon.favourite? %>
      <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
        <p><i class="fa-solid fa-heart"></i></p>
      <% end %>
    <% else %>
       <%= link_to toggle_favourite_path(@pigeon), data: { turbo_method: :patch } do %>
         <p> <i class="fa-regular fa-heart"></i> </p>
       <% end %>
    <% end %>

    <p class= "mt-5 mb-5">Category:
      <% @tags = @pigeon.tag_names %>
      <% @tags.each do |tag| %>
        <%= tag %>
      <% end %>
    </p>
    <%= link_to "Link", @pigeon.link_to_content, target: "_blank" %><br>
    <%= link_to "Browse all pigeons", pigeons_path %>
  <div class = "chatWindow">
    <div id="messages">
        <% @pigeon.chat.messages.each do |message| %>
          <% if @pigeon.created_at < message.created_at %>
            <%= message.sender.email %>
            <%= render 'messages/message', message: message %>
          <% end %>
        <% end %>
    </div>
  </div>
    <% if @pigeon.read %>
      <p>Status: read</p>
      <%= link_to "Mark as unread", toggle_read_path(@pigeon), data: { turbo_method: :patch }  %>
    <% else %>
      <p>Status: unread</p>
      <%= link_to "Mark as read", toggle_read_path(@pigeon), data: { turbo_method: :patch } %>
    <% end %>
    <%= link_to "Back to Pigeons", pigeons_path %>
    <%= link_to "Browse all pigeons", pigeons_path %><br>
    <%= link_to "Delete", pigeon_path(@pigeon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

</div>
