<div class="chat-index-container">

  <h1>All chats</h1>
  <% @chats.each do |chat| %>
    <% if chat.sender == current_user  %>
      <%@chatting_partner = chat.recipient%>
    <% else  %>
      <%@chatting_partner = chat.sender%>
    <% end %>
    <%if chat.sender != chat.recipient %>
      <%= link_to chat_path(chat), class:"chat-card text-dark" do %>
        <div class="sender-info d-flex justify-content-start align-items-center">
          <% if @chatting_partner.avatar.attached? %>
            <%= cl_image_tag@chatting_partner.avatar.key, height: 30, width:30, crop: :fill, class:"rounded-circle me-2" %>
          <% else %>
            <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:30, width:30, class:"rounded-circle me-2") %>
          <% end %>
          <strong>
            @<%=@chatting_partner.nickname%>
          </strong>
        </div>
        <div class= "fon d-flex justify-content-between">
          <div class = "message-crop">
            <%= chat.messages.last.content%>
          </div>
          <i><%= chat.messages.last.created_at.strftime("%b %e") %></i>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
