<% if user_signed_in? %>
<div class="container-fluid">

  <h2>Unread Pigeons</h2>
    <div class="scrolling-wrapper">
      <ul class="d-flex align-items-center p-0">
        <% pigeons_read = @pigeons.all? { |pigeon| pigeon.read} %>
        <% if pigeons_read %>
          <p><strong>You are up to date! 🎉</strong></p>
        <% else %>
          <% @pigeons.each do |pigeon| %>
            <% unless pigeon.read %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <div class="pigeon-card-unread">
                  <div>
                    <p><%= pigeon.user.nickname %></p>
                    <p><%= pigeon.date.strftime("%a %b %e") %></p>
                  </div>
                  <div>
                    <h3><%= pigeon.title %></h3>
                  </div>
                  <div class="pigeon-card-media">
                      <% if pigeon.media_type == "video" %>
                          <p><i class="fa-brands fa-youtube"></i></p>
                      <% elsif pigeon.media_type == "article" %>
                          <p><i class="fa-regular fa-newspaper"></i></p>
                      <% elsif pigeon.media_type == "book" %>
                          <p><i class="fa-solid fa-book"></i></p>
                      <% elsif pigeon.media_type == "podcast"%>
                          <p><i class="fa-solid fa-headphones"></i></p>
                      <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                          <p><i class="fa-solid fa-music"></i></p>
                      <% elsif pigeon.media_type == "movie"%>
                          <p><i class="fa-solid fa-film"></i></p>
                      <% end %>
                  </div>
                </div>

              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

   <h2>Favourite Pigeons</h2>
    <div class="scrolling-wrapper">
      <div class="d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.favourite? %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <div class="pigeon-card">
                  <div>
                    <p><%= pigeon.user.nickname %></p>
                    <p><%= pigeon.date.strftime("%a %b %e") %></p>
                  </div>
                  <div>
                    <h3><%= pigeon.title %></h3>
                  </div>
                  <div class="pigeon-card-media">
                      <% if pigeon.media_type == "video" %>
                          <p><i class="fa-brands fa-youtube"></i></p>
                      <% elsif pigeon.media_type == "article" %>
                          <p><i class="fa-regular fa-newspaper"></i></p>
                      <% elsif pigeon.media_type == "book" %>
                          <p><i class="fa-solid fa-book"></i></p>
                      <% elsif pigeon.media_type == "podcast"%>
                          <p><i class="fa-solid fa-headphones"></i></p>
                      <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                          <p><i class="fa-solid fa-music"></i></p>
                      <% elsif pigeon.media_type == "movie"%>
                          <p><i class="fa-solid fa-film"></i></p>
                      <% end %>
                  </div>
                </div>
                <% end %>
            <% end %>
          <% end %>
    </div>
    </div>
    <h2>Don't Forget to Reply!</h2>
    <div class="scrolling-wrapper">
      <div class="reply-pigeons d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.reply_later %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
              <div class="pigeon-card">
                <div>
                  <p><%= pigeon.user.nickname %></p>
                  <p><%= pigeon.date.strftime("%a %b %e") %></p>
                </div>
                <div>
                  <h3><%= pigeon.title %></h3>
                </div>
                <div class="pigeon-card-media">
                  <% if pigeon.media_type == "video" %>
                      <p><i class="fa-brands fa-youtube"></i></p>
                  <% elsif pigeon.media_type == "article" %>
                      <p><i class="fa-regular fa-newspaper"></i></p>
                  <% elsif pigeon.media_type == "book" %>
                      <p><i class="fa-solid fa-book"></i></p>
                  <% elsif pigeon.media_type == "podcast"%>
                      <p><i class="fa-solid fa-headphones"></i></p>
                  <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                      <p><i class="fa-solid fa-music"></i></p>
                  <% elsif pigeon.media_type == "movie"%>
                      <p><i class="fa-solid fa-film"></i></p>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>
        <% end %>
    </div>
</div>



</div>

<%= link_to new_pigeon_path, class: 'new-btn bottom-right round-btn', style: "background-color: black" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 5l0 14" />
    <path d="M5 12l14 0" />
  </svg>
<% end %>
<% else %>
  <div class="home-container text-center">
      <h1> Welcome to your </h1>
        <img src="https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694509395/PigeonHole_Logo_full_white_two_lines_bor1gt.png" alt="Logo" class="plogo">
      <h1> home of amazing content
          curated <strong>for</strong> you
          by <strong>your</strong> closest people
      </h1>
    <button class="login"><%= link_to "Login", new_user_session_path, style: "color: black;" %></button>
    <button class="signup"><%= link_to "Sign up", new_user_registration_path, style: "color: black;"%></button>
  </div>
<% end %>
