<% if user_signed_in? %>
<div class="container-fluid">

  <h2 class="mt-3 ms-3">unread pigeons</h2>
    <div class="scrolling-wrapper">
      <ul class="d-flex align-items-center p-0">
        <% pigeons_read = @pigeons.all? { |pigeon| pigeon.read} %>
        <% if pigeons_read %>
          <p><strong>You are up to date! 🎉</strong></p>
        <% else %>
          <% @pigeons.each do |pigeon| %>
            <% unless pigeon.read %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <div class="pigeon-card-unread">
                  <div class="sender-date-info">
                    <div style="border-radius: 50px; height: 30px; width: 30px; overflow: hidden; background: gray;">
                      <% if pigeon.user.avatar.attached? %>
                        <%= cl_image_tag @pigeon.user.avatar.key, height: 30, width:30, crop: :fill %>
                        <% else %>
                        <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:30, width:30) %>
                      <% end %>
                    </div>
                    <p class="mt-2 mb-0">@<%= pigeon.user.nickname %></p>
                    <p class="m-0"><%= pigeon.date.strftime("%a %b %e") %></p>
                  </div>
                  <div>
                    <h3 class="mt-1"><%= pigeon.title.truncate(45) %></h3>
                    <div class="pigeon-card-bottom">
                        <% if pigeon.media_type == "video" %>
                            <p><i class="fa-brands fa-youtube pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "article" %>
                            <p><i class="fa-regular fa-newspaper pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "book" %>
                            <p><i class="fa-solid fa-book pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "podcast"%>
                            <p><i class="fa-solid fa-headphones pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                            <p><i class="fa-solid fa-music pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "movie"%>
                            <p><i class="fa-solid fa-film pigeon-card-media"></i></p>
                        <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

   <h2 class="mt-3 ms-3">favourite pigeons</h2>
    <div class="scrolling-wrapper pb-3">
      <div class="d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.favourite? %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <div class="pigeon-card">
                  <i class="fa-solid fa-heart heart offset-icon"></i>
                  <div class="sender-date-info">
                    <div style="border-radius: 50px; height: 30px; width: 30px; overflow: hidden; background: gray;">
                      <% if pigeon.user.avatar.attached? %>
                        <%= cl_image_tag @pigeon.user.avatar.key, height: 30, width:30, crop: :fill %>
                        <% else %>
                        <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:30, width:30) %>
                      <% end %>
                    </div>
                    <p class="mt-2">@<%= pigeon.user.nickname %></p>
                    <p class="m-0"><%= pigeon.date.strftime("%a %b %e") %></p>
                  </div>
                  <div>
                    <h3><%= pigeon.title.truncate(23) %></h3>
                    <div class="pigeon-card-bottom">
                        <% if pigeon.media_type == "video" %>
                            <p><i class="fa-brands fa-youtube pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "article" %>
                            <p><i class="fa-regular fa-newspaper pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "book" %>
                            <p><i class="fa-solid fa-book pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "podcast"%>
                            <p><i class="fa-solid fa-headphones pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                            <p><i class="fa-solid fa-music pigeon-card-media"></i></p>
                        <% elsif pigeon.media_type == "movie"%>
                            <p><i class="fa-solid fa-film pigeon-card-media"></i></p>
                        <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
            <% end %>
          <% end %>
    </div>
    </div>
    <h2 class="mt-3 ms-3">don't forget to reply</h2>
    <div class="scrolling-wrapper pb-3">
      <div class="reply-pigeons d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.reply_later %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
              <div class="pigeon-card">
                <i class="fa-solid fa-clock reply-icon offset-icon" style="color: #4c19b9;"></i>
                <div class="sender-date-info">
                    <div style="border-radius: 50px; height: 30px; width: 30px; overflow: hidden; background: gray;">
                      <% if pigeon.user.avatar.attached? %>
                        <%= cl_image_tag @pigeon.user.avatar.key, height: 30, width:30, crop: :fill %>
                        <% else %>
                        <%= image_tag("https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000", height:30, width:30) %>
                      <% end %>
                    </div>
                    <p class="mt-2">@<%= pigeon.user.nickname %></p>
                    <p class="m-0"><%= pigeon.date.strftime("%a %b %e") %></p>
                </div>
                <div>
                  <h3><%= pigeon.title.truncate(17) %></h3>
                  <div class="pigeon-card-bottom">
                    <% if pigeon.media_type == "video" %>
                        <p><i class="fa-brands fa-youtube pigeon-card-media"></i></p>
                    <% elsif pigeon.media_type == "article" %>
                        <p><i class="fa-regular fa-newspaper pigeon-card-media"></i></p>
                    <% elsif pigeon.media_type == "book" %>
                        <p><i class="fa-solid fa-book pigeon-card-media"></i></p>
                    <% elsif pigeon.media_type == "podcast"%>
                        <p><i class="fa-solid fa-headphones pigeon-card-media"></i></p>
                    <% elsif pigeon.media_type == "audio" || "song" || "playlist"%>
                        <p><i class="fa-solid fa-music pigeon-card-media"></i></p>
                    <% elsif pigeon.media_type == "movie"%>
                        <p><i class="fa-solid fa-film pigeon-card-media"></i></p>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
        <% end %>
      </div>
  </div>



</div>

<%= link_to new_pigeon_path, class: 'new-btn bottom-right round-btn', style: "background-color: black" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 5l0 14" />
    <path d="M5 12l14 0" />
  </svg>
<% end %>
<% else %>
  <div class="home-container text-center">
      <h1> Welcome to your </h1>
        <img src="https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694509395/PigeonHole_Logo_full_white_two_lines_bor1gt.png" alt="Logo" class="plogo">
      <h1 style="text-align: left;">
          home of amazing content <br>
          curated <span style="font-weight: 700!important;">for</span> you <br>
          by <span>your</span> closest people
      </h1>
      <div class="d-flex">
        <button class="login"><%= link_to "Login", new_user_session_path, style: "color: black;" %></button>
        <button class="signup"><%= link_to "Sign up", new_user_registration_path, style: "color: black;"%></button>
      </div>
  </div>
<% end %>
