<div class="container-fluid">

  <h2>Unread Pigeons</h2>
    <div class="scrolling-wrapper">
      <ul class="latest-pigeons d-flex align-items-center p-0">
        <% pigeons_read = @pigeons.all? { |pigeon| pigeon.read} %>
        <% if pigeons_read %>
          <p><strong>You are up to date! 🎉</strong></p>
        <% else %>
          <% @pigeons.each do |pigeon| %>
            <% unless pigeon.read %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <li class="pigeon-card"><%= pigeon.title %></li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

   <h2>Favourite Pigeons</h2>
    <div class="scrolling-wrapper">
      <ul class="favourite-pigeons d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.favourite? %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <li class="pigeon-card"><%= pigeon.title %></li>
              <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>

    <h2>Don't Forget to Reply!</h2>
    <div class="scrolling-wrapper">
      <ul class="reply-pigeons d-flex align-items-center p-0">
          <% @pigeons.each do |pigeon| %>
            <% if pigeon.reply_later %>
              <%= link_to mark_read_path(pigeon), data: { turbo_method: :patch }  do%>
                <li class="pigeon-card"><%= pigeon.title %></li>
              <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>




</div>

<%= link_to new_pigeon_path, class: 'new-btn bottom-right round-btn', style: "background-color: black" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 5l0 14" />
    <path d="M5 12l14 0" />
  </svg>
<% end %>
